/* Reset base */
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  overflow:auto ; /* 🔥 solo 1 scroll en toda la app */
}

/* HEADER ocupa 60px */
.main-normal {
  padding-top: 60px;
}

/* MODO APP (Carta) */
.main-app {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 60px;

}

@media (max-width: 768px) {
  .main-app {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .main-app::-webkit-scrollbar {
    display: none;
  }
}
